nav{
    width:1440px;
    height:80px;
    color: black;
}

.logo{
    float: left;
    margin-left: 50px;
    margin-top:30px;
}

.nav-con{
    width:80%;
    height:50px;
    float:left;
    padding-right:10px;
    margin-top: 10px;
    padding-top: 30px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float:left;
    height:26px;
    text-align: center;
    margin-right: 10px;
    padding-left: 40px;
}

.button1{
    float: right;
    border: 2px solid black;
    width: 255px;
    margin-right: 30px;
    border-radius: 20px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: -25px;
}

h4{
    padding-left: 122px;
    padding-top: 175px;
}

h1{
    padding-left: 122px;
}

p{
    padding-left: 122px;
}

.col-6{
    float: right;
    
}

.col-box1{
    width:80%;
    height:150px;
    background-color: lightgray;
    text-align: center;
    padding-top: 30px;
    padding-left: 122px;
    margin-left: 122px;
}

.col-box2{
    width:80%;
    height:500px;
    background-color: lightgray;
    margin-top:30px;
    text-align: center;
    padding-top: 30px;
    margin-left: 10px;
    float: right;
    margin-top: -350px;
    margin-right: 90px;
}

form{
    width:80%;
    height:300px;
    margin-top:40px;
    background-color: lightgray;
    text-align: left;
    margin-left: 50px;
    color: black;

}

.form-input{
    width:90%;
    height:35px;
    margin-top:20px;
    padding-left:15px;
    border-radius: 20px;
    border: none;
    background-color: darkgray

}

select{
    width:90% !important;
    background-color: darkgray;
    color: white;
    border-radius: 20px;
    text-align: left;
    margin-top:20px;
    height:35px;
}

.button{
    text-align: right;
    background-color: black;
    color: white;
    width: 5px;
}

.button,inverted{
    padding-top: 6px !important;
    width:100px;
    margin-left: 200px;
    margin-bottom: 30px;
}
